@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background-color: var(--body-color);
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.25rem;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-title {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: calc(100% + var(--space-1));
  color: var(--gray-900);
  text-align: center;
  font-size: 0.75rem;
  background-color: var(--primary-100);
  border-radius: var(--space-2);
  padding: 0 var(--space-2);
  transition: opacity var(--transition-time-base);
  left: 0;
}

.tooltip:hover .tooltip-title {
  visibility: visible;
  opacity: 1;
}